In [2]:
a=10
b=5
print("a=%d, b=%d, a+b=%d" %(a, b, a+b))
print("a={0}, b={1}, a+b={2}.format(a, b, a+b)")
print("a+b={2}, b={1}, a={0}.format(a, b, a+b)")

a=10, b=5, a+b=15
a={0}, b={1}, a+b={2}.format(a, b, a+b)
a+b={2}, b={1}, a={0}.format(a, b, a+b)

In [3]:
print("이름을 입력하세요:")
name=input()
print("안녕", name, "반갑습니다.")

이름을 입력하세요:

 홍길동

안녕 홍길동 반갑습니다.

In [4]:
name=input("이름 입력란:")
print("안녕 %s 반갑습니다." %name)

이름 입력란: 박지민

안녕 박지민 반갑습니다.

In [5]:
print("변환하고 싶은 섭씨온도를 입력하세요")
t=float(input())
f=(t*1.8) +32
print("섭씨온도 :", t)
print("화씨온도 :", f)

변환하고 싶은 섭씨온도를 입력하세요

 345

섭씨온도 : 345.0
화씨온도 : 653.0

In [15]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[0:6])
print(a[0:6:2])
print(a[:6:2])
print(a[::])
print(a[::-1])
print(a[-5:])
print(a[:])

[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[1, 3, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
a=['가', '나', '다', 'a']
b=['a', 'b', 'c']
c=a+b
print(c)
print(a*2)
print('나' in a)
print("마" in a)
# 배열 내 항목 존재 여부 

a.extend(b)
a.append('라')
print(a)
a.extend(['자바', '파이썬'])
print(a)
a.insert(1, "red")
print(a)
a[1]="blue"
print(a)
del a[0]
print(a)
a.remove('나')
print(a)
a.append('다')
print(a)
a.remove('다')
print(a)
a.remove('다')
print(a)

['가', '나', '다', 'a', 'a', 'b', 'c']
['가', '나', '다', 'a', '가', '나', '다', 'a']
True
False
['가', '나', '다', 'a', '라']
['가', '나', '다', 'a', '라', 'a', 'b', 'c']
['가', '나', '다', 'a', '라', 'a', 'b', 'c', '가', '나', '다', 'a', '라', 'a', 'b', 'c']
True
True
['가', '나', '다', 'a', '라', 'a', 'b', 'c', '라']
['가', '나', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']
['가', 'red', '나', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']
['가', 'blue', '나', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']
['blue', '나', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']
['blue', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']
['blue', '다', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬', '다']
['blue', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬', '다']
['blue', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']

In [34]:
a

['blue', 'a', '라', 'a', 'b', 'c', '라', '자바', '파이썬']

In [36]:
t=[1, 2, 3]
a, b, c = t
print(a, b, c, t)

1 2 3 [1, 2, 3]

In [39]:
k=[40, 50, 65, 55, 80]
m=[75, 85, 80, 90, 95]
e=[65, 60, 70, 75, 85]
mid=[k, m, e]
print(mid)

print(mid[1][2])

[[40, 50, 65, 55, 80], [75, 85, 80, 90, 95], [65, 60, 70, 75, 85]]
80

In [40]:
m[1]=1000
print(mid)
mid[][]

[[40, 50, 65, 55, 80], [75, 1000, 80, 90, 95], [65, 60, 70, 75, 85]]

In [41]:
k[4]='홍길동'
print(mid)

[[40, 50, 65, 55, '홍길동'], [75, 1000, 80, 90, 95], [65, 60, 70, 75, 85]]

In [42]:
a=300
b=300
print(a==b)
print(a is b)

True

In [44]:
a=1
b=1
print(a==b)
print(a is b)

True
True

In [61]:
print("홀수 짝수 구분하기~")
number=int(input("숫자를 입력하세요"))

if number==0:
    print("0은.. 0입니다.")
    
elif number%2==0:
    print("짝수입니다.")
    
else:
    print("홀수입니다.")

홀수 짝수 구분하기~

숫자를 입력하세요 0

0은.. 0입니다.

In [49]:
print("홀수 짝수 구분하기~")
number=int(input("숫자를 입력하세요"))
print(number)

홀수 짝수 구분하기~

숫자를 입력하세요 34

34

In [52]:
a=10
b=5
c=100
(a>b)<c

True

In [53]:
a<b<c

False

In [64]:
by=int(input("당신이 태어난 연도를 입력하세요"))
age = 2021-by+1
print("나이는 %d살 입니다" %age)
if age > 26 or age < 8: print("학생이 아닙니다.")
elif age >= 20: print("대학생")
elif age >= 17: print("고등학생")
elif age >= 14: print("중학생")
elif age >= 8: print("초등학생")
else: print("학생이 아닙니다.")

당신이 태어난 연도를 입력하세요 34

나이는 1988살 입니다
학생이 아닙니다.

In [65]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [67]:
for i in 'abcde':
    print(i)

a
b
c
d
e

In [71]:
for i in range(10):
    print(i)
print("================")
    
for i in range(1, 10, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9
================
1
3
5
7
9

In [74]:
for i in ["java", "python", "spring", "android"]:
    print(i)
print("================")
for i in ["java", "python", "spring", "android"]:
    for j in i:
        print(j, end=" ")
    print()

java
python
spring
android
================
j a v a
p y t h o n
s p r i n g
a n d r o i d

In [76]:
sentence="abcdefg"
reverse_sentence=''
for ch in sentence:
    reverse_sentence=ch+reverse_sentence
print(reverse_sentence)
print(sentence[::-1])

gfedcba
gfedcba

In [80]:
a=[49, 43, 49]
b=[80, 60, 82]
c=[20, 85, 48]
d=[100, 30, 50]
e=[80, 90, 100]
result = [a, b, c, d, e]
print(result)

for i in result:
    sum=0
    avg=0
    for j in i:
        sum+=j
    avg=sum/3
    print(avg, end=", ")

[[49, 43, 49], [80, 60, 82], [20, 85, 48], [100, 30, 50], [80, 90, 100]]
47.0, 74.0, 51.0, 60.0, 90.0,

In [ ]:
kor = [49, 80, 20, 100, 80]
math = [43, 60, 85, 30, 90]
eng = [49, 82, 48, 50, 100]