In [ ]:
# inheritance / 상속

In [13]:
class Person(object):
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def about(self):
        print("이름은 {}이고, 나이는 {}세이며, 성별은 {}성입니다.".format(self.name, self.age, self.gender))

In [14]:
class Student(Person):
    def __init__(self, name, age, gender, sno, major):
        super().__init__(name, age, gender)
        self.sno=sno
        self.major=major
        
    def about(self):
        super().about()
        print("학번은 %d이고 전공은 %s입니다." %(self.sno, self.major))

In [15]:
s1=Student("홍길동", 20, "남", 100, "컴공")
s1.about()

이름은 홍길동이고, 나이는 20세이며, 성별은 남성입니다.
학번은 100이고 전공은 컴공입니다.

In [20]:
class Employee(Person):
    def __init__(self, name, age, gender, eno, dept, salary):
        super().__init__(name, age, gender)
        self.eno=eno
        self.dept=dept
        self.salary=salary
    
    def about(self):
        super().about()
        print("사번은 {}번이고 부서는 {}이며 급여는 월{}원 입니다.".format(self.eno, self.dept, self.salary))

In [21]:
e1=Employee("주미진", 32, "여", 23, "인사부", "4,000,000")
e1.about()

이름은 주미진이고, 나이는 32세이며, 성별은 여성입니다.
사번은 23번이고 부서는 인사부이며 급여는 월4,000,000원 입니다.