In [6]:
def print_some(age, name='홍길동') :
    print("나이는 {0}이고 이름은 {1}입니다".format(age, name))

print_some(20, "홍길동")
print some(name="홍길동", age=20)

SyntaxError: invalid syntax (<ipython-input-6-f500bc36afa1>, line 5)

In [7]:
def print_some(age, name='홍길동'):
    ptrint("나이는 [0]이고, 이름은(1)")입니다".format(age, name)

SyntaxError: invalid syntax (<ipython-input-7-4795a32e5676>, line 2)

In [9]:
def func(a, b, *args):
    print(a, ge args)
    print (a, g, *Args)
    
    func(1,2,3)
    func(1,2,3,4,)
    func(1,2,3,4,5)

SyntaxError: invalid syntax (<ipython-input-9-81fee460ed69>, line 2)

In [8]:
def func1(*args):
    print(args)
    a, b, *c, = args
    print(a,b,c,args)
    
func1(1,2,3,)
fucc

SyntaxError: unexpected EOF while parsing (<ipython-input-8-4c416651ea62>, line 2)

In [11]:
def kwargs_test(**kwargs):
    print(kwargs)
    print("이름은 {name}이고, 나이는 {age}, 성별은 {gender}입니다.".format(**kwargs))
kwargs_test(name="홍길동", gender="남", age=20)
kwargs_test(name="홍길동", age=20)
kwargs_test(name="홍길동")

{'name': '홍길동', 'gender': '남', 'age': 20}
이름은 홍길동이고, 나이는 20, 성별은 남입니다.
{'name': '홍길동', 'age': 20}

KeyError: 'gender'

In [12]:
a="python programming"
print(a[0:4])

pyth

In [16]:
a[:], a[1:], a[:5]

('python programming', 'ython programming', 'pytho')

In [17]:
a[::-1]

'gnimmargorp nohtyp'

In [23]:
b="bigdata"
print(a+b), print(a*2)
print(a*2+" "+b*2)
print('a' in a)
# 'a'라는 문자가 있는지 확인

python programmingbigdata
python programmingpython programming
python programmingpython programming bigdatabigdata
True

In [24]:
if "python" in a :
    print(a)
else : 
    print(b)

python programming

In [ ]:
a=2
print('결과 : ' +str(a))
# 문자열에 숫자를 결합할 때는 숫자를 문자열로 만들어야 한다.

In [38]:
a="PYTHON programming"
print(len(a))
print(a.upper())
print(a.lower())
print(a.title())
print(a.capitalize())
print(a.lower().count("o"))
# 메소드 체인
print(a.lower().find("o"))
print(a.lower().rfind("o"))
print(a.startswith('py'))
print(a.endswith('ing'))
print()

18
PYTHON PROGRAMMING
python programming
Python Programming
Python programming
2
4
9
False
True

In [45]:
a=' python programming '
print(a)
print(a.strip(),"aaa")
# 스트립은 탭, 엔터, 스페이스 등 모든 공백을 없앤다. 
print(a.rstrip(),"aaa")
print(a.lstrip(),"aaa")

 python programming
python programming aaa
 python programming aaa
python programming  aaa

In [46]:
print(a.split())

['python', 'programming']

In [47]:
b='가-나-다'
print(b.split('-'))

['가', '나', '다']

In [55]:
f = open("data/yesterday.txt", "r")
yesterday_lyric=f.readlines()
f.close

print(yesterday_lyric)
print()
print()

contents=""
for line in yesterday_lyric:
    contents=contents+line.strip()+"\n"
    
n_of_yesterday=contents.upper().count("YESTERDAY")
print("Number of the word 'yesterday' in 'yesterday' of beatles is", n_of_yesterday)
print()

['Yesterday all my troubles\n', 'seemed so far away.\n', 'Now it looks\n', "as though they're here to stay.\n", 'Oh, I believe in yesterday.\n', '\n', "Suddenly I'm not half\n", 'the man I used to be.\n', "There's a shadow hanging over me.\n", 'Oh, yesterday came suddenly.\n', '\n', 'Why she had to go,\n', "I don't know,\n", "she wouldn't say.\n", 'I said something wrong,\n', 'now I long for yesterday.\n', '\n', 'Yesterday love was\n', 'such an easy game to play.\n', 'Now I need a place to hide away.\n', 'Oh, I believe in yesterday.\n', '\n', 'Why she had to go,\n', "I don't know,\n", "she wouldn't say.\n", 'I said something wrong,\n', 'now I long for yesterday.\n', '\n', 'Yesterday love was\n', 'such an easy game to play.\n', 'Now I need a place to hide away.\n', 'Oh, I believe in yesterday.\n', '\n', 'Mm mm mm mm mm mm mm\n']


Number of the word 'yesterday' in 'yesterday' of beatles is 9

In [57]:
name="홍길동"
age=20
gender="남"
print("My name is {} and I'am {} years old".format(name, age))
print("My name is %s and I'am %d years old" %(name, age))

My name is 홍길동 and I'am 20 years old
My name is 홍길동 and I'am 20 years old

In [73]:
product_name='apple'
price=5.2678
s1="제품명 : %-10s 가격 : %5.2f" %(product_name, price)
print(s1)
print("제품명 : {0:10s} 가격 : {1:5.2f}".format(product_name, price))
print("제품명 : {0:>10s} 가격 : {1:<10.2f}".format(product_name, price))
print("제품명 : {name:10s}, 가격 : {price:<10.1f}".format(name="apple", price=3.457))

제품명 : apple      가격 :  5.27
제품명 : apple      가격 :  5.27
제품명 :      apple 가격 : 5.27
제품명 : apple     , 가격 : 3.5

In [74]:
s1="""
표적으로 기부금 세액공제를 꼽을 수 있다.

납세자가 낸 기부금의 15%(1천만원 초과분은 30%)를 해당 과세기간에 합산과세되는 종합소득 산출세액에서 빼주는 제도다.

정부는 올해에 한해 세액공제율을 5%포인트 높이기로 했다.

기부금 1천만원까지는 공제율을 15%에서 20%로, 1천만원 초과분은 30%에서 35%로 높였다.
"""
print(s1)

s2='''
표적으로 기부금 세액공제를 꼽을 수 있다.

납세자가 낸 기부금의 15%(1천만원 초과분은 30%)를 해당 과세기간에 합산과세되는 종합소득 산출세액에서 빼주는 제도다.

정부는 올해에 한해 세액공제율을 5%포인트 높이기로 했다.

기부금 1천만원까지는 공제율을 15%에서 20%로, 1천만원 초과분은 30%에서 35%로 높였다.
'''
print(s2)

표적으로 기부금 세액공제를 꼽을 수 있다.

납세자가 낸 기부금의 15%(1천만원 초과분은 30%)를 해당 과세기간에 합산과세되는 종합소득 산출세액에서 빼주는 제도다.

정부는 올해에 한해 세액공제율을 5%포인트 높이기로 했다.

기부금 1천만원까지는 공제율을 15%에서 20%로, 1천만원 초과분은 30%에서 35%로 높였다.


표적으로 기부금 세액공제를 꼽을 수 있다.

납세자가 낸 기부금의 15%(1천만원 초과분은 30%)를 해당 과세기간에 합산과세되는 종합소득 산출세액에서 빼주는 제도다.

정부는 올해에 한해 세액공제율을 5%포인트 높이기로 했다.

기부금 1천만원까지는 공제율을 15%에서 20%로, 1천만원 초과분은 30%에서 35%로 높였다.

In [78]:
a=[1,2,3,4,5]
a.append(10)
a.append(20)
print(a)
print(a.pop())
print(a)

[1, 2, 3, 4, 5, 10, 20]
20
[1, 2, 3, 4, 5, 10]

In [77]:
a=[1,2,3,4,5]
a.append(10)
a.append(20)
print(a)
print(a.pop(0))
print(a)

[1, 2, 3, 4, 5, 10, 20]
1
[2, 3, 4, 5, 10, 20]

In [79]:
a[0]=10
print(a)

[10, 2, 3, 4, 5, 10]

In [81]:
t=(1,2,3,4)
print(t[0])
print(t)
a,b,*c=t
print(a,b,c)

1
(1, 2, 3, 4)
1 2 [3, 4]

In [85]:
a=list("starwars return of jedi")
print(a)
b=tuple("fast furious ultimatum")
print(b)

['s', 't', 'a', 'r', 'w', 'a', 'r', 's', ' ', 'r', 'e', 't', 'u', 'r', 'n', ' ', 'o', 'f', ' ', 'j', 'e', 'd', 'i']
('f', 'a', 's', 't', ' ', 'f', 'u', 'r', 'i', 'o', 'u', 's', ' ', 'u', 'l', 't', 'i', 'm', 'a', 't', 'u', 'm')

In [98]:
s=set([1,2,3,4,1,2,5,2,3,4])
print(s)
s.add(7)
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 5, 7}

In [99]:
s.discard(2)
print(s)
s.update([10, 20, 30])
print(s)

{1, 3, 5, 7}
{1, 3, 5, 7, 10, 20, 30}

주석

- 데이터1
- 데이터2

s.clear() 
print(s)

In [6]:
score={"홍길동":80, "김재건":85, "김예환":90, "박정희":95}
print(score)

{'홍길동': 80, '김재건': 85, '김예환': 90, '박정희': 95}

In [7]:
score['홍길동']

80

In [8]:
score["홍길동"]=93
print(score)

{'홍길동': 93, '김재건': 85, '김예환': 90, '박정희': 95}

In [9]:
for k,v in score.items():
    print(k,v)

홍길동 93
김재건 85
김예환 90
박정희 95

In [10]:
print(score.items())
print(score.keys())
print(score.values())

dict_items([('홍길동', 93), ('김재건', 85), ('김예환', 90), ('박정희', 95)])
dict_keys(['홍길동', '김재건', '김예환', '박정희'])
dict_values([93, 85, 90, 95])

In [11]:
'홍길동' in score.keys()

True

In [12]:
87 in score.values()

False