In [ ]:
#

In [11]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [14]:
def create_table():
    conn=sqlite3.connect('my_books.db') 
    # 데이터베이스 커넥션 생성
    cursor=conn.cursor ()
    # 커서 생성
    # my_books db에 books 테이블 생성, 제목, 출판일자, 출판사, 페이지수, 추천여부
    sql='''create table if not exists books(
    title text,
    published_date text,
    publisher text,
    pages integer,
    recommend integer)'''
    cursor.execute(sql)
    conn.commit
    conn.close

In [15]:
create_table()

In [36]:
def insert_books_args():
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor() # 커서 생성
    # sql = "insert into books values('java', '2021-01-02', 길벗, 500, 10)"
    sql="insert into books values(?,?,?,?,?)"
    # cursor.execute(sql,('python','2021-02-01','한빛',550,20))
#    items=[
#        ('빅데이터','2020-12-01','영진',561,5),
#        ('안드로이드','2020-12-01','한샘',600,5),
#        ('Spring','2020-12-01','인피니티',561,5)
#    ]
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

In [37]:
data=('jsp','2020-03-03','한빛',700,12)
insert_books_args(data)

In [38]:
def all_books():
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor()
    # 커서 생성
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall()
    print(type(books))
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()

In [39]:
all_books()

<class 'list'>
6
('python', '2021-02-01', '한빛', 550, 20)
('java', '2021-01-02', '길벗', 500, 10)
('python', '2021-02-01', '한빛', 550, 20)
('빅데이터', '2020-12-01', '영진', 561, 5)
('안드로이드', '2020-12-01', '한샘', 600, 5)
('Spring', '2020-12-01', '인피니티', 561, 5)

In [43]:
def one_books():
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor()
    # 커서 생성
    sql="select * from books order by title desc"
    cursor.execute(sql)
    books=cursor.fetchone()
    print(type(books))
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()
    
one_books()

<class 'tuple'>
5
안드로이드
2020-12-01
한샘
600
5

In [44]:
def some_books(n):
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor()
    # 커서 생성
    sql="select * from books order by title desc"
    cursor.execute(sql)
    books=cursor.fetchmany(n)
    print(type(books))
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()
    
some_books(3)

<class 'list'>
3
('안드로이드', '2020-12-01', '한샘', 600, 5)
('빅데이터', '2020-12-01', '영진', 561, 5)
('python', '2021-02-01', '한빛', 550, 20)

In [45]:
def some_books(n):
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor()
    # 커서 생성
    sql="select * from books order by title"
    cursor.execute(sql)
    books=cursor.fetchmany(n)
    print(type(books))
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()
    
some_books(3)

<class 'list'>
3
('Spring', '2020-12-01', '인피니티', 561, 5)
('java', '2021-01-02', '길벗', 500, 10)
('python', '2021-02-01', '한빛', 550, 20)

In [56]:
def search_books(n,r):
    conn=sqlite3.connect('my_books.db') # 데이터베이스 커넥션 생성
    cursor=conn.cursor()
    # 커서 생성
    #sql="select * from books where pages>"+str(n)
    sql="select * from books where pages>? and recommend>?"
    cursor.execute(sql,(n,r))
    books=cursor.fetchall()
    
    for book in books:
        print(book)
    conn.close()
    
search_books(500, 10)

('python', '2021-02-01', '한빛', 550, 20)
('python', '2021-02-01', '한빛', 550, 20)

In [59]:
def update_books(data):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="update books set recommend=?, pages=? where title=?"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

all_books()
data=(30, 700, 'Java')
update_books(data)
all_books()

<class 'list'>
6
('python', '2021-02-01', '한빛', 550, 20)
('java', '2021-01-02', '길벗', 500, 10)
('python', '2021-02-01', '한빛', 550, 20)
('빅데이터', '2020-12-01', '영진', 561, 5)
('안드로이드', '2020-12-01', '한샘', 600, 5)
('Spring', '2020-12-01', '인피니티', 561, 5)
<class 'list'>
6
('python', '2021-02-01', '한빛', 550, 20)
('java', '2021-01-02', '길벗', 500, 10)
('python', '2021-02-01', '한빛', 550, 20)
('빅데이터', '2020-12-01', '영진', 561, 5)
('안드로이드', '2020-12-01', '한샘', 600, 5)
('Spring', '2020-12-01', '인피니티', 561, 5)

In [65]:
def delete_books():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="delete from books where title='java'"
    cursor.execute(sql)
    conn.commit()
    conn.close()
all_books()
delete_books()
all_books()

<class 'list'>
6
('python', '2021-02-01', '한빛', 550, 20)
('java', '2021-01-02', '길벗', 500, 10)
('python', '2021-02-01', '한빛', 550, 20)
('빅데이터', '2020-12-01', '영진', 561, 5)
('안드로이드', '2020-12-01', '한샘', 600, 5)
('Spring', '2020-12-01', '인피니티', 561, 5)
<class 'list'>
5
('python', '2021-02-01', '한빛', 550, 20)
('python', '2021-02-01', '한빛', 550, 20)
('빅데이터', '2020-12-01', '영진', 561, 5)
('안드로이드', '2020-12-01', '한샘', 600, 5)
('Spring', '2020-12-01', '인피니티', 561, 5)

In [66]:
import cx_Oracle

In [70]:
def insert_product():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
    data=(1, '레몬', 150, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg')
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
insert_product()